* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
    background-color: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gameboard {
    width: 100vh;
    height: 100vh;
    max-height: 60vh;
    max-width: 60vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}
.top-left {
    width: 100%;
    height: 100%;
    background-color: #22a6b3;
    border-top-left-radius: 100%;
}
.top-left.light {
    background-color: #7ed6df;
}
.top-right {
    width: 100%;
    height: 100%;
    background-color: #be2edd;
    border-top-right-radius: 100%;
}
.top-right.light {
    background-color: #e056fd;
}
.bottom-left {
    width: 100%;
    height: 100%;
    background-color: #f0932b;
    border-bottom-left-radius: 100%;
}
.bottom-left.light {
    background-color: #ffbe76;
}
.bottom-right {
    width: 100%;
    height: 100%;
    background-color: #6ab04c;
    border-bottom-right-radius: 100%;
}
.bottom-right.light {
    background-color: #badc58;
}
.btn-start {
    position: absolute;
    width: 100vh;
    height: 100vh;
    max-height: 15vh;
    max-width: 66vh;
    background-color: #ecf0f1;
    color: #2c3e50;
    font-size: 2.5rem;
}
.hide {
    display: none;
}